<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no"/>
    <title>会员中心</title>
    <link th:href="@{/css/mzu/fonts/iconfont.css}" rel="stylesheet"/>
    <link th:href="@{/css/mzu/bass.css}" rel="stylesheet"/>
    <link th:href="@{/css/mzu/index.css}" rel="stylesheet"/>

    <style>
    	.balance li {
            width: 33%;
            float: left;
            text-align: center;
            background-color: #fff;
            border-right: 1px solid #f1f1f1;
            border-bottom: 1px solid #f1f1f1;
        }
    </style>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>



</head>
<body>
<p><font color="red" th:text="${#httpServletRequest.getParameter('message')}" id="msg" th:hidden="true"></font></p>
    <div class="all_box all_boxNodown">
    		<div class="circle2-head">
			<div class="Frjbg"><img src="img/home1.jpg"/></div>
			
				<div class="user-img"><img th:src="${user.headimgurl}"/></div>
				<div class="user-head-d">
					<span th:text="${user.nickname}"/>
				</div>
				 	
				     <div class="my-Limit"  style="text-align: center;">
                         <span class="addUp" onclick="window.location.href='/user/getIntegral'">积分<br/>
                             <font th:text="${user.integral!=NullPointerException}?${user.integral}:'0'"/></span>
                    <span class="addUp" onclick="window.location.href='/user/getCoupon'">优惠券<br/>0</span>
                </div>  
		
		</div>
    
        <!--零钱end-->
        <!--  我的钱包服务-->
        <div class="balance">
            <ul>
                <li><a href="/user/getBill"><i class="ba-color icon-uniE94D"></i><p>我的账单</p></a></li>
                <li><a href="/user/togroupbuy"><i class="ba-color ba-color2 icon-uniE934"></i><p>团购申请</p></a></li>
                <li><a href="/getShoparea" class="Sign-in"><i class="ba-color ba-color3 icon-uniE92D"></i><p>附近门店</p></a></li>
                <li><a href="/page/privilege"><i class="ba-color ba-color4 icon-vip0"></i><p>会员特权</p></a></li>
                <li><a href="/user/getInfo"><i class="ba-color ba-color5 icon-uniE92C"></i><p>我的信息</p></a></li>
                <li><a href="/user/feedback"><i class="ba-color ba-color6 icon-19"></i><p>顾客心声</p></a></li>
     			<li><a href="/getOnecode"><i class="ba-color  icon-uniE92E"></i><p>会员条码</p></a></li>
                <li><a href="/page/aboutus"><i class="ba-color ba-color3 icon-uniE932"></i><p>了解我们</p></a></li>
               <li><a href="/page/classroom"><i class="ba-color ba-color2 icon-17"></i><p>护理课堂</p></a></li>
            </ul>
        </div>
        <!--  我的钱包服务end-->
    </div>
</body>
</html>