<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>会员认证</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link rel="stylesheet" href="/css/ydui/ydui.css"/>
    <link rel="stylesheet" href="/css/ydui/demo.css"/>
    <script src="/js/ydui/ydui.flexible.js"></script>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--<script src="js/jquery.min.js"></script>-->
    <script src="/js/sports/login.js"></script>
    <!--<script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"> </script>-->
</head>
<body>
<section class="g-flexview">

   
    <section class="g-scrollview">
        <form action="/getVipidByMobile" method="post" id="mobileForm">
         <aside class="demo-tip">
            <p>如您已开卡，请直接点击 “会员认证 ”完成微信认证;如您尚未未开卡请点击 “新开卡注册”</p>
             <p><font color="red" th:text="${#httpServletRequest.getParameter('message')}" id="msg"></font></p>
         </aside>


            <div class="m-cell">
        	 <div class="cell-item">
                <div class="cell-left">手机号码 <i style="padding-right: 15px;"></i></div>
                <div class="cell-right"><input type="text" name="mobile" id="mobile" class="cell-input" placeholder="请输入您的手机号码" autocomplete="off" /></div>
            </div>
            <div class="cell-item">
                <div class="cell-left">验证码 <i style="padding-right: 30px;"></i></div>
                <div class="cell-right">
                    <input type="number" pattern="[0-9]*" class="cell-input" name="checkcode" id="v_code" placeholder="请输入短信验证码" autocomplete="off" />
                    <a href="javascript:;" class="btn btn-warning" id="J_GetCode">获取短信验证码</a>
                </div>
            </div>
            </div>

             <div class="m-button demo-pitch">
                        <a href="javascript:void(0)" class="btn-block btn-primary" id="J_OpenKeyBoard">会员认证</a>
             </div>
             <div class="m-button demo-pitch">
                <a href="/reg" class="btn-block btn-hollow" id="J_OpenKeyBoard">新开卡注册</a>
            </div>
        </form>
        </section>

</section>
<!--<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>-->
<script src="/js/ydui/ydui.js"></script>
<script src="/js/sports/getCode.js?v=cc12233"></script>
<script src="/js/sports/login.js"></script>
<script src="/js/sports/msg.js"></script>
</body>
</html>
