<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>新开卡注册</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link rel="stylesheet" href="/css/ydui/ydui.css?rev=@@hash"/>
    <link rel="stylesheet" href="/css/ydui/demo.css"/>

    <link href="/css/iosSelect.css"  rel="stylesheet"/>
    <script src="/js/ydui/ydui.flexible.js"></script>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquery.cookie/1.4.1/jquery.cookie.js"></script>

    <script src="/js/iosSelect.js"></script>
    <script src="/js/dateSelect.js?v=11"></script>


</head>
<body>
<section class="g-flexview">

  <form action="/regvip" method="post" id="vipregform">
    <section class="g-scrollview">

         <aside class="demo-tip">
             <p>1)生日填写后不可修改,如填写错误,请携带身份证至附近门店修改.<br/>
                 2)如设置VIP密码,则积分抵现时需输入VIP密码.</p>
             <p><font color="red" th:text="${#httpServletRequest.getParameter('message')}" id="msg"></font></p>
        </aside>


        <div class="m-cell">
        <div class="cell-item">
                <div class="cell-left">* 手机号码 <i style="padding-right: 15px;"></i></div>
                <div class="cell-right"><input type="text" name="mobile" id="mobile" class="cell-input" placeholder="请输入您的手机号码" autocomplete="off" /></div>
            </div>
            <div class="cell-item">
                <div class="cell-left">* 验证码 <i style="padding-right: 30px;"></i></div>
                <div class="cell-right">
                    <input type="number" pattern="[0-9]*" class="cell-input" name="checkcode" id="v_code" placeholder="请输入短信验证码" autocomplete="off" />
                    <a href="javascript:;" class="btn btn-warning" id="J_GetCode" style="width:100px;margin-right: 5px;">获取验证码</a>
                </div>
            </div>
                   <div class="cell-item">
                <div class="cell-left">* 真实姓名 <i style="padding-right: 15px;"></i></div>
                <div class="cell-right"><input type="text" class="cell-input" id="truename" name="truename" placeholder="请输入您的真实姓名" autocomplete="off" /></div>
            </div>
            <div class="cell-item">
                <div class="cell-left">* 性别 <i style="padding-right: 45px;"></i></div>
                <label class="cell-right cell-arrow">
                    <select class="cell-select" name="vipsex" id="vipsex">
                        <option value="">请选择性别</option>
                        <option value="1">男</option>
                        <option value="2">女</option>
                    </select>
                </label>
            </div>
           <!-- <div class="cell-item">
                <div class="cell-left">* 鞋码 <i style="padding-right: 45px;"></i></div>
                <label class="cell-right cell-arrow">
                    <input type="text" class="cell-input" id="vipsize" name="vipsize" placeholder="请输入鞋码如(40)" autocomplete="off" />
                </label>
            </div>-->
            <div class="cell-item">
                <div class="cell-left">* 生日 <i style="padding-right: 45px;"></i>
                    <div class="form-item item-line" id="selectDate">
                        <div class="pc-box">
                            <span data-year="" data-month="" data-date="" id="showDate">请选择时间</span>
                        </div>
                    </div>
                </div>
                <div class="cell-right">
                    <input type="hidden" id="vipbirthday" class="cell-input" name="vipbirthday"/>
                </div>
            </div>

            <div class="cell-item">
                <div class="cell-left">* 服务店仓 <i style="padding-right: 15px;"></i></div>
                <label class="cell-right cell-arrow">
                    <select class="cell-select" name="storeid" id="storeid">
                        <option value="" label="请选择"></option>
                    </select>
                </label>
            </div>
            <div class="cell-item">
                <div class="cell-left"> VIP密码 <i style="padding-right: 25px;"></i></div>
                <div class="cell-right"><input type="password" id="vippassword" class="cell-input" name="vippassword" placeholder="六位纯数字(选填)" autocomplete="off" /></div>
            </div>
            <!--<p id="demo"></p>-->
            <!--<div class="cell-item">
                <span class="cell-left">我已经阅读并同意《意尔康体育会员注册协议》</span>
                <label class="cell-right">
                    <input type="checkbox" name="checkbox" checked />
                    <i class="cell-checkbox-icon"></i>
                </label>
            </div>-->
        </div>
        <div class="m-button demo-pitch">
            <a href="javascript:;" class="btn-block btn-primary" id="J_OpenKeyBoard">确认注册</a>
        </div>
         <div class="m-button demo-pitch">
            <a href="/wechat/authorize" class="btn-block btn-hollow" id="J_OpenKeyBoard">我已开卡</a>
        </div>
    </section>
  </form>
</section>
<!--<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>-->

<script src="/js/ydui/ydui.js"></script>
<script src="/js/sports/getCode2.js?v=asdd2312"></script>
<script src="/js/weixin/location.js?av=a44121"></script>
<script src="/js/sports/reg.js?av=av13"></script>

</body>
</html>
