<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
		<title>我的优惠券</title>
        <link rel="stylesheet" href="../css/sports/coupon.css"/>
		<!--<style type="text/css">

		</style>-->
	</head>
	<body>
    <div id="msg"><span th:text="${message}"></span></div>
		   <!--可用-->
    <div class="coupon" th:each="coupon:${list}">
        <div class="coupon-left">
            <div class="coupon-inner">
                <div class="coupon-money">
                    <span>¥</span>
                    <span class="sum" th:text="${coupon.vou_dis}"></span><!--折扣内容-->
                </div>
                <div class="coupon-condition">
                    <p th:text="${coupon.amt_noles}"></p>
                </div>
            </div>
        </div>
        <div class="coupon-right">
            <div class="coupon-inner">
                <div class="coupon-time">
                    有效时间<br/>
                    <!--<span th:if="${coupon.amt_type>1}">现金</span>
					<span th:if="${coupon.amt_type<1}">折扣</span>-->
                    <span th:text="${coupon.valid_date}"></span>
                </div>
                <i class="coupon-circle top"></i>
                <i class="coupon-circle bottom"></i>
            </div>
        </div>
        <div class="coupon-light"></div>
    
    </div>

    <!--不可用-->
    <!--<div class="coupon coupon-diabled">
        <div class="coupon-left">
            <div class="coupon-inner">
                <div class="coupon-money">
                    <span>¥</span>
                    <span class="sum">100.00</span>
                </div>
                <div class="coupon-condition">
                    <p>满200.00可用</p>
                </div>
            </div>
        </div>
        <div class="coupon-right">
            <div class="coupon-inner">
                <div class="coupon-time">
                    截止日期<br/>
                    2016-12-31
                </div>
                <i class="coupon-circle top"></i>
                <i class="coupon-circle bottom"></i>
            </div>
        </div>
        <div class="coupon-light"></div>
    </div>-->
	</body>
</html>
