<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>我的信息</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link rel="stylesheet" href="../css/ydui/ydui.css?rev=@@hash"/>
    <link rel="stylesheet" href="../css/ydui/demo.css"/>
    <script src="../js/ydui/ydui.flexible.js"></script>
</head>
<body>
<section class="g-flexview">


    <section class="g-scrollview">

        <aside class="demo-tip">
            <p>1）生日填报后不可修改，如需修改请返回聊天窗口联系客服；<br/>2）如VIP 密码已设置，积分抵扣需输入；</p>
            <p><font color="red" th:text="${#httpServletRequest.getParameter('message')}" id="msg"></font></p>
        </aside>


        <div class="m-cell">
            <form action="/user/saveInfo" method="post" id="vipInfoForm">
                <input type="hidden" th:value="${map.id}" name="vipid"/>
                <div class="cell-item">
                    <div class="cell-left">* 真实姓名 <i style="padding-right: 15px;"></i></div>
                    <div class="cell-right"><input type="text" class="cell-input" placeholder="请输入您的真实姓名"
                                                   autocomplete="off" th:value="${map.vipname}" name="name" id="v_name"/></div>
                </div>
                <div class="cell-item">
                    <div class="cell-left">* 性别 <i style="padding-right: 45px;"></i></div>
                    <label class="cell-right cell-arrow">
                        <select class="cell-select" th:switch="${map.sex}" name="sex" id="v_sex">
                            <option th:case="'M'" value="M">男</option>
                            <option th:case="'W'" value="w">女</option>
                            <option value="M">男</option>
                            <option value="W">女</option>
                        </select>
                    </label>
                </div>
                <div class="cell-item">
                    <div class="cell-left">* VIP密码 <i style="padding-right: 25px;"></i></div>
                    <div class="cell-right"><input type="text" class="cell-input" placeholder="请输入VIP密码"
                                                   autocomplete="off" th:value="${map.pass_word}" name="password" id="v_passwd"/></div>
                </div>
            </form>

            <div class="cell-item">
                <div class="cell-left">* 生日 <i style="padding-right: 45px;"></i></div>
                <div class="cell-right" th:text="${map.birthday}"></div>
            </div>

            <div class="cell-item">
                <div class="cell-left">* 服务店仓 <i style="padding-right: 15px;"></i></div>
                <div class="cell-right" th:text="${map.storename}"></div>

            </div>

        </div>
        <div class="m-button demo-pitch">
            <a href="javascript:;" class="btn-block btn-primary" id="J_OpenKeyBoard">保存修改</a>
        </div>

    </section>

</section>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="../js/ydui/ydui.js"></script>
<script src="../js/layer/layer.js" rel="script"></script>
<script src="../js/sports/info.js"></script>
<script src="/js/sports/msg.js"></script>
</body>
</html>
