<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no"/>
    <title>我的钱包</title>
    <link href="css/mzu/fonts/iconfont.css" rel="stylesheet"/>
    <link href="css/mzu/bass.css" rel="stylesheet"/>
    <link href="css/mzu/index.css" rel="stylesheet"/>
    <style>
    	.balance li {
    width: 33%;
    float: left;
    text-align: center;
    background-color: #fff;
    border-right: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}
    </style>
</head>
<body>
 
    <div class="all_box all_boxNodown">
    		<div class="circle2-head">
			<div class="Frjbg"><img src="img/home1.jpg"/></div>
			
				<div class="user-img"><img src="img/ts1.jpg"/></div>
				<div class="user-head-d">
					<span>安琪拉</span>的圈子
				</div>
				 	
				     <div class="my-Limit"  style="text-align: center;">
                    <span class="addUp" onclick="window.location.href='page/integral.html'">积分<br/>1830</span>
                    <span class="addUp" onclick="window.location.href='page/coupon.html'">优惠券<br/>140</span>
                </div>  
		
		</div>
    
        <!--零钱end-->
        <!--  我的钱包服务-->
        <div class="balance">
            <ul>
                <li><a href="bill.html"><i class="ba-color icon-uniE94D"></i><p>我的账单</p></a></li>
                <li><a href="groupbuy.html"><i class="ba-color ba-color2 icon-uniE934"></i><p>团购申请</p></a></li>
                <li><a href="page/shoparea.html" class="Sign-in"><i class="ba-color ba-color3 icon-uniE92D"></i><p>附近门店</p></a></li>
                <li><a href="page/privilege.html"><i class="ba-color ba-color4 icon-vip0"></i><p>会员特权</p></a></li>
                <li><a href="info.html"><i class="ba-color ba-color5 icon-uniE92C"></i><p>我的信息</p></a></li>
                <li><a href="submitform.html"><i class="ba-color ba-color6 icon-19"></i><p>顾客心声</p></a></li>
     			<li><a href="page/barcode.html"><i class="ba-color  icon-uniE92E"></i><p>会员条码</p></a></li>
                <li><a href="page/aboutus.html"><i class="ba-color ba-color3 icon-uniE932"></i><p>了解我们</p></a></li>
               <li><a href="#"><i class="ba-color ba-color2 icon-17"></i><p>护理课堂</p></a></li> 
            </ul>
        </div>
        <!--  我的钱包服务end-->
    </div>
</body>
</html>